@import "tailwindcss";
@font-face {
    font-family: lasune-300;
    src: url(/Fonts/Lausanne-300.woff2);
}

@font-face {
    font-family: lasune-500;
    src: url(/Fonts/Lausanne-500.woff2);
}

body{
  
}